#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  background-color: rgb(185, 217, 241);
  width: 500px;
  height: 500px;
  ;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: auto;
  -webkit-box-shadow: 8px -1px 85px -24px rgba(236, 237, 249, 1);
  -moz-box-shadow: 8px -1px 85px -24px rgba(236, 237, 249, 1);
  box-shadow: 8px -1px 85px -24px rgba(236, 237, 249, 1);
  border-radius: 20px 20px 20px 20px;
}

.title {
  color: black;
  font-size: 30px;
}